/* *************************************************
 * Core
 * ************************************************* */

fieldset {
    border: 0;
    padding: 0;
}

#loading {
    display: none;
}

#progress {
    text-align: center;
}
#progress:after {
    content: attr(value)'%';
}

/*
 *  The following settings make the terminal invisible and not
 *  affect the layout of the page. 'display: none' does not work
 *  since the terminal does not get rendered.
 */
#terminal {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
}

#rendered {
    max-width: 100%;
    height: auto;
}

details {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

summary {
    outline: none;
    cursor: pointer;
}

#summary {
    border-bottom: 1px dotted;
}
